.logo img{
    width: 200px;
}
.logo{
    text-align: center;
    margin: 0 auto;
    display: block;
    position: relative;
    width: 310px;
}
header{
    width: 1140px;
    margin: 20px auto 0;
    height: auto;
}

header .phone{
    float: right;
    position: absolute;
    right: 0;
    top: -1px;
    font-size: 22px;
    color: #677377;
}
.menu_top{
    text-align: center;
}
header .menu_top .menu li a{
    color: #ff7c05!important;
    font-size: 17px;
}
.menu_top .menu li{
    padding: 0 15px; 
}
.ftoto_20{
    background: url(/img/landing/image_1.png) no-repeat;
    background-size: 100%;
    height: 585px;
}
.ftoto_20 h3{
    margin: 0 auto;
    text-align: center;
    position: relative;
    top: 75.5%;
    color:#677377;
    font-size: 40px;
    z-index: 1;
}
.ftoto_20 h3 b{
    color:#ff7c05;
}
.ftoto_20 p{
    text-align: center;
    position: relative;
    top: 74%;
    color: #677377;
    font-size: 18px;
    background-color: #f0f0f0;
    padding: 10px 0;
}
section{
    margin: 0 auto;
    position: relative;
    padding-top: 60px;
    background-color: #f0f0f0;
}
.books_wrap{
    width: 960px;
    margin: 0 auto 30px;
    height: auto;
    padding-bottom: 20px;
}
.books_wrap .bookWrap{
    float: left;
    height: 580px;
    margin: 0 50px;
    width: 220px;
    position: relative;
    padding-bottom: 60px;
}
.books_wrap a.page{
    color:#677377;
    height: 310px;
    display: table-cell;
    vertical-align: bottom;
    position: relative;
}
.books_wrap div:nth-child(18) a{
    vertical-align: unset;
}
.books_wrap div:nth-child(6) a img{
    width: 270px;
    right: 25px;
    position: relative;
}
.books_wrap div:nth-child(4) a img{
    width: 200px;
}
.books_wrap div:nth-child(8) a img{
    width: 206px;
}
.books_wrap b{
    margin: 12px 0;
    text-align: center;
    display: block;
    color:#677377;
    width: 250px;
    position: relative;
    right: 17px;

}
.digitalBookMark{
    border-radius: 20px;
}
.digitalBookMark p span{
    width: auto;
    right: 0;
}
.books_wrap .bookWrap > p,
.books_wrap span{
    text-align: center;
    color:#677377;  
    display: block; 
    font-size: 15px;
    width: 250px;
    position: relative;
    right: 17px;

}
.books_wrap .bookWrap > p{
    color:#ff7c05;
    position: absolute;
    top: 62%;
    left: 50%;
    margin-left: -125px;
}
.books_wrap .bookWrap > span{
    position: absolute;
    bottom: 18%;
    left: 50%;
    margin-left: -125px;
}
.books_wrap a img{
    position: absolute;
    bottom: 0;
    width: 215px;
    max-height: 310px;
    box-shadow: 0px 8px 21px -1px #999;
}
.item{
    border: 1px solid #c7a271;
    border-radius: 40px;
    color: #c7a271;
    cursor: pointer;
    font-size: 14px;
    padding: 6px 5px;
    text-align: center;
    position: absolute;
    width: 212px;
    bottom: 56px;
    left: 50%;
    margin-left: -106px;
}
.books_wrap .item > p{

}
.gifts{
    clear: both;
    background-color: #fff;
    width: 960px;
    margin: 0 auto;
    padding: 30px 90px;
    overflow: hidden;
}

.gifts h3{
    font-size: 30px;
    color: #677377;
    text-align: center;
}
.gifts > p{
    color:#677377;
    text-align: center;
    font-size: 20px;
    margin-bottom: 40px;
}
.gifts h3 b{
    color:#ff7c05;    
}
.gifts ul li{
    float: left;
    width: 272px;
    padding: 0 17px;
    margin: 5px;
    text-align: center;
    height: 450px;
    border: 2px solid #e4e4e4;
}
.books_wrap div:last-child br{
    display: none;
}
.books_wrap > div > p{
    margin-bottom: 20px;  
}
.books_wrap div:nth-child(5) > p,
.books_wrap div:nth-child(12) > p,
.books_wrap div:nth-child(15) > p,
.books_wrap div:nth-child(18) > p,
.books_wrap div:nth-child(19) > p,
.books_wrap div:nth-child(20) > p{
    margin-bottom: 0;  
}
.gifts ul li p{
    color: #677377;
    text-align: center;
    margin-bottom: 15px;
}
.gifts ul li span{
    color: #ff7c05;
    text-align: center;
    display: block;
    border: 2px solid #ff7c05;
    padding: 5px 26px;
    margin: 6px 0;
    border-radius: 6px;
    font-weight: bold;
}
.gifts ul li img{
    width: 200px;
}

body footer{
    background-color: #fff;
    position: relative;
}
footer > p{
    font-size: 30px;
    color: #677377;
    text-align: center;
    position: relative;
    right: 100px;
    margin-bottom: 40px;

}
footer > ul li a img{
    width: 42px;
}
footer > ul li{
    float: left;
    margin: 0 10px;    
}
footer > ul{
    float: right;
    position: absolute;
    top: 0;
    right: 40%;
}
footer > span{
    width: 1140px;
    display: block;
    margin: 0 auto;
    text-align: center;
    color: #677377;
}
.footer{
    width: 1140px;
    margin: 0 auto;
}
.tag{
    float: left;
    color:#677377;
    font-size: 18px;
}
.bot_menu{
    text-align: center;
    width: 650px;
    margin: 0 auto 90px;
}
.phone{
    float: right;
    color:#677377;
    font-size: 18px;
}
.bot_menu .menu li{
    padding: 0 15px;
}
.bot_menu .menu li a {
    color: #ff7c05!important;
    font-size: 17px;
}
footer hr{
    width: 1140px;
    border-color: #ebebeb;
    margin-bottom: 25px;
}
 @media only screen and (max-width:1100px){
    header{
        width: auto;
    }
    footer > span {
        width: auto;
    }
    .footer{
       width: auto; 
    }
    .gifts{
        padding: 30px 30px;
    }
}
 @media only screen and (min-width:1400px){
    .ftoto_20{
        height: 765px;
    }
    .ftoto_20 p {
        top: 80%;
    }
    .ftoto_20 h3{
       top: 80.5%;
    }
}
 @media only screen and (max-width:1360px){
    .ftoto_20{
        background-position: 50% 80%;
    }
 }
 @media only screen and (max-width:1000px){
    .ftoto_20{
        background-position: 50% 88%;
    }
 }
 @media only screen and (max-width:680px){
    .ftoto_20{
        background-position: 50% 100%;
    }
 }